#header{
    background-color:#6C7A89;
    font-size:20px;
    color:white;
    padding:20px;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:999;
}

#header div{
    display:inline-block;
}

#header_links{
    position:relative;
    float:right;
    margin-right:30px;
}

#header_links span, #header_links a{
    color:white;
    font-size:15px;
    cursor:pointer;
    margin-left:10px;
}

#header_links span:hover{
    text-decoration:underline;
}

#header_links a{
    color:white;
    text-decoration:none;
}